
<%- include('header') %>

    <!--------------------- Navigation - Bar ---------------------->
    
    

    <!----------x---------- Navigation - Bar ----------x----------->

    <!---------------------- Main - Content ----------------------->



    <!-----------x---------- Main - Content -----------x----------->

    <div class="main-card">
        <div class="card">
            <div class="card-inside">                
                <div class="card-btn">
                    <button class="btn"><a href="/members">View Customers</a></button>
                </div>
            </div>
            <div class="card-image">
    
            </div>
        </div>

   
<%- include('footer') %>